---
import { AgentUI } from "../components/AgentUI";
import "../styles/global.css";
import fs from "node:fs";
import path from "node:path";

const readmePath = path.resolve("./README.md");
const readmeContent = fs.readFileSync(readmePath, "utf-8");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Google AI Agent</title>
	</head>
	<body class="bg-slate-950 min-h-screen">
		<AgentUI client:load initialMessage={readmeContent} />
	</body>
</html>
